 .App {
  text-align: center;
}

/*game title header*/
.App-header {
  background-color: rgb(31, 97, 219);
  height: 40px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: 30px;
  margin: 0px auto;
  padding-top: 0px;
}

/*the display board is where game is*/ 
.Game {
  margin: 20px;
  display: flex;
  justify-content: center;
}

/*buttons to start the game*/
button {
    background-color: #0d47a3;
    border: 1px solid #0d47a3;
    border-radius: 3px;
    display: inline-block;
    color: #FFF;
    font-size: 12pt;
    padding: 7px 28px;
    text-decoration: none;
    margin: 5px;
    transition: all 0.5s;
    max-width: 160px;
    min-width: 160px;
}

/*hovering over a button changes the colour*/
button:hover {
    background-color: rgb(25, 116, 201);
}

.Board {
  display: flex;
  background-color: rgb(31, 97, 219);
}


/*space are where the player can choose where to put their token*/ 
.Grid {
  padding: 10px;
  min-width: 10px;
  min-height: 10px;
  border: 2px solid rgb(50, 109, 218);
  border-radius: 50%;
  border-collapse: separate;
  background-color: rgb(25, 80, 184);

}

/*animate player token when player makes a move*/
.Grid div {
  position: relative;
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  top: -400px;
  transition: transform 0.5s;

}

/*player one red*/
.Red {
  background-color: #ff0037;
  transform: translateY(400px);

}

/*player two yellow*/
.Yellow {
  background-color: #f0ec12e5;
  transform: translateY(400px);
}

/*the winner message is usually blank*/ 
.winnerMessage {
  margin: 20px;
  font-size: 0pt;
  font: 12pt;
  opacity: 0;
}

/*if player wins, the message appears*/ 
.appear {
  opacity: 1;
  font-size: 20pt;
}

